<!DOCTYPE html>
<html>
<head>
<% stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
<header>
  <h1>GFile</h1>
</header>
<div id="div_body">
  <% if params["testg"] %>
    <% @coll_file.each do |obj| %>
    <p>
      <% if obj["dir"] == params["testg"] %>
        <%= obj["name"] %>
      <% end %>
        </p>
<% end %>
<% end %> 
  <% @coll_directory.each do |obj| %>
    <a href='/pages/home/?testg=<%= obj["_id"]%>'>
    <div class="div_dir">
      <p class="p_name"> <%= obj["name"] %></p>
      <p class="p_path"> <%= obj["path"] %></p>
    </div>
  </a>
<% end %>
</div>
<div class="alert alert-success" role="alert">aaa</div>

</body>
</html>
